<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :タイトル, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :内容, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :tag_ids, "都道府県タグ", style: "display: block" %>
    <div class="tag-checkbox-group">
      <%= form.collection_check_boxes :tag_ids, Tag.all.order(:name), :id, :name do |b| %>
        <div class="form-check">
          <%= b.check_box(class: "form-check-input tag-checkbox") %>
          <%= b.label(class: "form-check-label") { b.text } %>
        </div>
      <% end %>
      <%# 選択が0個の場合でもparamsに配列を渡すため %>
      <%= hidden_field_tag "post[tag_ids][]", "" %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
