<p style="color: green"><%= notice %></p>

<%= render @post %>

<% if admin_signed_in? && current_admin == @post.admin %>
  <div>
    <%= link_to "編集", edit_post_path(@post) %> |
    <%= button_to "記事削除", @post, method: :delete %>
  </div>
<% end %>

<%= link_to "記事一覧", posts_path %>

<h2>コメント</h2>
<% if @post.comments.any? %>
  <div id="comments">
    <% @post.comments.each do |comment| %>
      <p><%= comment.name %></p>
      <p><%= comment.body %></p>
      <% if admin_signed_in? %>
        <%= button_to "コメント削除", post_comment_path(@post, comment), method: :delete %>
      <% end %>
      <hr>
    <% end %>
  </div>
<% else %>
  <p>まだコメントはありません。</p>
<% end %>

<h3>コメント追加</h3>
<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
      <%= form.label :ラジオネーム %>
      <%= form.text_area :name %>
    </div>
    <div>
      <%= form.label :コメント %>
      <%= form.text_area :body %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Create Comment" %>
  </div>
<% end %>
